.main-container{
    display: flex;
    height: 18rem;
    justify-content: center;
    width: 100%; 
    position: relative;
}


.main-section-content{
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.aug-2023{
    background-image: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.Title-Text{
    color: #FFF;
    font-size: 6rem;
    font-family: var(--font-aeonik);
}
.social-section{
    display: flex;
    align-items: center;    
    height: 3.375rem;
    padding-top: 2rem;
    gap: 1.5rem;
    flex-shrink: 0;
}
.join-discord{
    width: 15.0625rem;
    height: 3.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 27px;
    border-radius: 48px;
    background: linear-gradient(135deg, #7138C7 2.91%, #BB39B8 100%), linear-gradient(139deg, #A7E000 0%, #A5DA08 0.01%, #98B21D 23.50%, #5B9529 58.86%, #006A3B 100%);   

}
.join-discord-wrap{
    width: 14.9rem;
    height: 3.2rem;
    border-radius: 48px;
    display: flex;
    background: linear-gradient(135deg, #7138C7 2.91%, #BB39B8 100%), linear-gradient(139deg, #A7E000 0%, #A5DA08 0.01%, #98B21D 23.50%, #5B9529 58.86%, #006A3B 100%);   
    justify-content: center;
    align-items: center;

}
.join-discord-wrap:hover{
    background: black;
    
}

.follow-twitter{
    width: 15.0625rem;
    height: 3.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 27px;
    border-radius: 48px;
    background: linear-gradient(135deg, #7138C7 2.91%, #BB39B8 100%), linear-gradient(139deg, #A7E000 0%, #A5DA08 0.01%, #98B21D 23.50%, #5B9529 58.86%, #006A3B 100%);   
}
.follow-twitter-wrap{
    width: 14.9rem;
    height: 3.2rem;
    border-radius: 48px;
    display: flex;
    background: black;
    justify-content: center;
    align-items: center;

}
.follow-twitter-wrap:hover{
    background: none;
}

.Text{
    color: #FFF;
    text-align: center;
    text-transform: capitalize;
    font-size: 0.875rem;
    font-family: 'Articulat CF';
    font-weight: 600;
    letter-spacing: 0.0875rem;
    text-transform: uppercase;
}



.puzzle-icon1 {
    position: absolute;
    top: 8.4rem;
    left: 10.3rem;
  
   
  }
  
  .puzzle-icon2 {
  position: absolute;
    object-fit: cover;
    top: -0.6rem;
    right: 11.0rem;
  }

  .planet-mask{
    width: 72.9rem;
    height: 36.7rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.57) 43.23%, rgba(0, 0, 0, 0.58) 55.27%, rgba(0, 0, 0, 0.00) 78.10%);

}
.planet-outline{
    position: absolute;
    top: 17rem;
    left: 8.5rem;
  
}
.planet-img{
    height: 32.25rem;
    width: 61.5625rem;

   
}

@media only screen and (max-width: 768px) {
    
   .Title-Text{
    font-size: 2.5rem;

   }
   .social-section{
    flex-direction: column;
   }
   .puzzle-icon1{
    top: 5rem;
    left: 31.5rem;
    width: 5.5rem;
    
   }
   .puzzle-icon2{
    top: -3rem;
    right: 32rem;
    width: 5rem;

   }
   .planet-mask{
    height: fit-content;
   
    display: flex;
    align-items: flex-end;
    justify-content: center;
   }
   .planet-img {
    padding: 4rem;
    width: 27rem;
    height: 18rem;
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.57) 43.23%, rgba(0, 0, 0, 0.58) 55.27%, rgba(0, 0, 0, 0.00) 78.10%);
  }
  .planet-outline{
    top: 18rem;
    left: 29rem;
    width: 32.6rem;
    height: 17rem;
  }

}