.organizers-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
    padding-top: 6.25rem;
    gap: 2rem;
}
.organizer-container{
    width: 20.2rem;
    height: 31.8rem;
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(141deg, rgba(255, 255, 255, 0.2) 0%, rgba(240, 240, 240, 0.2) 0.01%, rgba(243, 243, 243, 0.2) 32.81%, rgba(217, 217, 217, 0) 100%);
}
.organizer-container-main{
    width: 20.2rem;
    height: 30.9rem;
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(141deg, rgba(255, 255, 255, 0.2) 0%, rgba(240, 240, 240, 0.2) 0.01%, rgba(243, 243, 243, 0.2) 32.81%, rgba(217, 217, 217, 0) 100%);
}

.organizer-info{
    display: flex;
    flex-direction: column;
    padding: 2.18rem;
}
.organizer-image{
    width: 100%;
    height: 60%;
    flex-shrink: 0;
    border-radius: 18px;

}

.organizer-name{
    color: #FFF;
font-size: 1.25rem;
font-family: Articulat CF;
font-weight: 500;
line-height: 1.75rem;
padding-bottom: 2.01rem;
}

.organizer-designation{
    color: #FFF;
    opacity: 0.4000000059604645;
font-size: 1.25rem;
font-family: Articulat CF;
font-weight: 500;
line-height: 2rem;
}

@media only screen and (max-width: 768px) {
    .organizers-section{
        flex-direction: column;
    }

}